.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
}
.btn{
    background-color: #c70039;
    border: 0;
    padding: 5px;
    
}