.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
}
.btn{
    background-color: #e72c61;
    border: 0;
    padding: 1.5% 5%;
    color: white;
    
}